<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>

  <div class="container">
    <h3 style="text-align: center;">Inbox</h3>

    {{#each message}}
    <div style="display: flex; flex-direction: row; margin: 8px; background-color: #f2f4f4;">
      <p style=" padding: 2px;"><b>From</b>: {{message.from}}</p>
      <p style=" padding: 2px;"><b>Message</b>: {{message.snippet}}</p>
      <p style=" padding: 2px;"><b>Date</b>: {{message.headers}} </p>
    </div>
    {{/each}}

  </div>
</body>

</html>