<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
        body {
            text-align: center;
        }

        .messageContainer {
            height: max-content;
        }

        button {
            background-color: rgb(100, 100, 255);
            color: white;
            margin: 2px;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>Message</h1>
    <div class="message">
        <div class="messageContainer">
            <p>{{message.snippet}}</p>


            <label for="promptInput">Enter Prompt:</label>
            <input type="text" id="promptInput" placeholder="Enter your prompt">
            <button onclick="handleResponse('{{message.snippet}}')"><b>Generate Response</b></button>
        </div>
        <br>
        <div id="apiResponse"></div>
    </div>

    <script>
        async function handleResponse(snippet) {
            try {
                const prompt = document.getElementById('promptInput').value;
                if (!prompt) {
                    alert('Please enter a prompt.');
                    return;
                }
                const data = {
                    prompt: prompt,
                    snippet: snippet,
                }
                fetch('/google/generate-response', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data),
                })
                    .then(async function (res) {
                        const response = await res.json();
                        document.getElementById('apiResponse').innerText = response.messageResponse;
                    })
                    .catch(function (error) {
                        console.log('error', error)
                    })
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>
</body>

</html>