<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <style>
    body {
      margin: 50px;
    }

    h1 {
      text-align: center;
    }

    .mails {
      background-color: rgb(242, 235, 219);
      padding: 20px;
      margin: 4px;
    }

    .mail-item {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <div>
    <h3>Threads</h3>
    <ol>
      {{#each message}}
      <li class="mails" onclick="handleClick('{{id}}','{{accessToken}}','{{email}}' )">
        <p>{{snippet}}</p>
      </li>
      {{/each}}
    </ol>
  </div>
  <script>
    function handleClick(id, accessToken, email) {
      window.location.href = `/google/threaddetails?id=${id}&accessToken=${accessToken}&email=${email}`;
    }
  </script>
</body>

</html>